
/*selector universel*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body style*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/

/*Nav-lang*/

.nav-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #000;
    color: #fff;
    padding: 2rem;
   
}
.nav-lang p{
    font-size: 0.8rem;
}
.nav-lang a{
    color: #fff;
}
.nav-lang select{
    border: none;
    background-color: #000;
    color: #fff;
}

/*menu de navigation*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    border-bottom: 1px solid rgb(236,236,236);

}

/*menu burge*/

.menu-icon{
    display: none;
}

/*nav-list*/

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

/* liens nav-list */

.nav-list a{
    text-decoration: none;
    color: rgb(127,127,127);
    transition: background-color 0.3s ease;
}
.nav-list a:hover{
    color: #000;
}
/*Search input*/

.search input{
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: rgb(245,245,245);
  
}
.search button{
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.search a{
    text-decoration: none;
    color: #000;
}

/*main-section*/

.main-section{
    display: flex;
    gap: 3rem;
    padding: 1rem 5%;
}
.aside-menu{
    border-right: 1px solid rgb(236,236,236);
}
.aside-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}
.aside-menu a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 100;
}

/*iphone-img*/

.iphone-img{
    width: 40%;
    height: 20;
    object-fit: cover;
}
.iphone-img img{
    width: 100%;
    height: auto;
}
.section-voucher{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
}
.voucher-content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #fff;
}
.voucher-desc h1{
    font-size: 3rem;
    max-width: 60%;
}
.voucher-desc a{
    color: #fff;
     transition: background-color 0.3s ease;
}
.voucher-desc a:hover{
    text-decoration: none;
}
.section-voucher{
   background-color: #000;
}

/*======section article=====*/
.section-article{
     padding-top: 6rem;
}
.today-sale{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.today-sale p{
    color: rgb(219,68,68);
    padding-left: 1rem;
    border-left: 10px solid rgb(219,68,68);
}
.sale-btn button{
    background-color: rgb(245,245,245);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#clock {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
    }
.article-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
   
}
.article-card img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    background: rgb(245,245,245);
    padding: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.article-card img:hover{
    background-color:  rgb(230,230,230);
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.article-card{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1rem;
    padding: 1rem 5%;
   
}
.article-card span{
    color:rgb(219,68,68) ;
}
.rediction{
    background-color: rgb(219,68,68);
    color: #fff;
    position: relative;
    top: -19rem;
    width: 3rem;
    
    border-radius: 10px;
}
.redict-cl{
    background-color: rgb(219,68,68);
    color: #fff;
    position: relative;
    top: -21rem;
    width: 3rem;
    
    border-radius: 10px; 
}
.btn button{
    color: #fff;
    background-color: #000;
    font-weight: 700;
    width: 17rem;
    height: 2rem;
    position: relative;
     top: -2rem;
    left:0rem;
    cursor: pointer;
    
}
.all-poduct{
    text-align: center;
}
.all-poduct a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(219,68,68);
    padding: 1rem;
    text-transform: capitalize;
}
.cartegorie-carte{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
     padding: 1rem 5%;
}
.categorie-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
    padding: 3rem;
    cursor: pointer;
     transition: background-color 0.3s ease;
}
.categorie-item:hover{
    background-color: #f0f0f0;
}

/*========product=======*/


.product-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
   
}
.product-card img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    background: rgb(245,245,245);
    padding: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.product-card img:hover{
    background-color:  rgb(230,230,230);
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.product-card{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1rem;
    padding: 1rem 5%;
   
}
.product-card span{
    color:rgb(219,68,68) ;
}

.product-sale{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.product-sale p{
    color: rgb(219,68,68);
    padding-left: 1rem;
    border-left: 10px solid rgb(219,68,68);
}
.product-btn button{
    color: #fff;
    background-color: rgb(219,68,68);
    border: none;
    border-radius: 5%;
    padding: 1rem 2rem;
    cursor: pointer;
}

/*====music====*/

.music-experience{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    color: #fff;
    background-color: #000;
    margin: 1rem 5%;
}
.music-experience-content h2{
    font-size: 2rem;
    max-width: 60%;
    padding-bottom: 2rem;
}
.music-experience-content p{
    font-weight: 600;
    color: rgb(0,255,102);
    padding-bottom: 4rem;
}
.music-experience-content button{
    color: #fff;
    background-color: rgb(0,255,102);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.music-experience-content button:hover{
    background-color: rgb(219,68,68);
}

/*====new arrival====*/
.new-arrivals {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* PlayStation prend plus d’espace */
  grid-template-rows: auto auto; /* 2 lignes */
  gap: 2rem;
  padding: 1rem 5%;
  width: 100%;
  box-sizing: border-box;
}

.new-arrivals> div {
  background-repeat: no-repeat;
  background-position: center; /* centre parfaitement les images */
  background-size: contain; 
  border-radius: 5px;
  width: 100%;
  min-height: 250px;
  height: 100%;
  box-sizing: border-box;
}
.new-arrivals a{
    color: #fff;
}
/* === PlayStation (grande image à gauche) === */

.new-arrivals__item-playstation {
  background-image: url("images/playstation5.png"); /* ajuster le chemin si CSS est dans un dossier */
  background-color: #000;
  grid-row: 1 / span 2; /* prend les 2 lignes */
  grid-column: 1; /* première colonne */
  min-height: 600px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: end;
  color: #fff;
  padding: 3rem;
}
.new-arrivals__item-playstation p{
    width: 40%;
}

/* === Women collection (haut droite) === */

.new-arrivals__item-women {
  background-image: url("images/chapeau-dame.png");
  background-color: #000;
  grid-column: 2 / span 2; /* prend les 2 colonnes de droite */
  grid-row: 1; /* ligne du haut */
  min-height: 280px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}
.new-arrivals__item-women p{
    width: 35%;
}
/* === Speaker (bas milieu) === */
.new-arrivals__item-speaker {
  background-image: url("images/amazon-speaker.png");
  background-color: #000;
  grid-column: 2; /* colonne du milieu */
  grid-row: 2; /* ligne du bas */
  min-height: 280px;
   color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/* === Parfum (bas droite) === */
.new-arrivals__item-perfume {
  background-image: url("images/gucci-parfum.png");
  background-color: #000;
  grid-column: 3; /* colonne de droite */
  grid-row: 2; /* ligne du bas */
  min-height: 280px;
   color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/*====testimony====*/

.testimony-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding:5rem ;
}
.testimony-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.testimony-icon{
    border-radius: 50%;
    background-color: rgb(193,193,193);
    padding: 1rem;
}

/*====footer====*/

.footer{
     color: #fff;
    background-color: #000;
   
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem;
}
.footer h3{
    padding-bottom: 2rem;
}
.footer-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links a{
    text-decoration: none;
    color: #fff;
    
}
.copyright{
    text-align: center;
   
}

/*====About ====*/
.about__breadcrumb{
    padding:1rem 5%;
    font-weight: 100;
    font-size: 1rem;

}
.about__breadcrumb-home{
  color: #b0b0b0;
}
.about__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.about__text{
 padding-left:5%;   
 max-width: min(100ch, 70%);
 display: flex;
 flex-direction: column;
 gap: 3rem;
 
}
.about__text h3{
    font-size: 4rem;
}
.about__text p{
    font-size: 1.2rem;
    font-weight: 100;
  
    line-height: 1.6;
}
.about__image{
  
    width: 40%;
    width: 40%;
}

.about__image img{
    width: 100%;
    height: auto;
}
.about-stats{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 5%;
}
.about-stats__item{
    border: 1px solid #000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.about-stats__item_color{
    color: #fff;
    background-color: rgb(219,68,68);
    border: none;
}
.about-stats__item h4{
    font-size: 1.2rem;
}
.about-stats__icon{
    width: 20%;
    height: 20%;
   
}
.about-stats__icon img{
    width: 100%;
    height: auto;
     background-color:  #b0b0b0;
    border-radius: 50%;
}

.about-team{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
   
   
}

.about-team__photo{
    width: 50%;
    height: 50%;
}

.about-team__photo img{
    width: 100%;
    height: auto;
}